* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

#contenedor {
  width: 90%;
  font-family: "Roboto", sans-serif;
  margin: 0 auto; }
  #contenedor .columna-izq {
    width: 47%;
    float: left;
    margin-right: 20px; }
  #contenedor .columna-der {
    width: 47%;
    float: right; }
  #contenedor .tema, #contenedor .fecha {
    font-family: "Inconsolata", monospace;
    color: #5f6368;
    font-size: 15px;
    margin-bottom: 60px; }
  #contenedor h2 {
    font-weight: 300;
    font-size: 33px;
    padding: 20px 0; }
  #contenedor h3 {
    font-weight: 400;
    font-size: 20px;
    padding: 10px 0; }
  #contenedor header {
    padding: 40px 0 60px 0;
    color: #414549; }
    #contenedor header .logo {
      width: 50%;
      text-align: center;
      margin: 0 auto; }
    #contenedor header .search {
      position: absolute;
      right: 5%;
      top: 15%; }
    #contenedor header nav ul {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      padding: 15px 0; }
      #contenedor header nav ul li {
        display: inline-block;
        list-style-type: none;
        padding: 0 20px; }
  #contenedor #podcast {
    padding: 20px 0;
    border-bottom: solid 2px #4285f4;
    margin-bottom: 40px; }
    #contenedor #podcast .imagen {
      width: 100%; }
      #contenedor #podcast .imagen img {
        width: 100%; }
    #contenedor #podcast .subtitulo {
      padding-bottom: 20px;
      font-weight: 700;
      font-size: 18px; }
    #contenedor #podcast p {
      font-size: 15px;
      font-weight: 300;
      width: 65%;
      line-height: 22px;
      color: #414549;
      padding: 10px 0; }
  #contenedor #newsfeed {
    padding: 20px 0;
    border-bottom: solid 2px #4285f4;
    margin-bottom: 40px;
    height: 750px; }
    #contenedor #newsfeed h2 {
      font-size: 25px;
      text-align: left; }
    #contenedor #newsfeed p {
      font-size: 15px;
      font-weight: 300;
      width: 100%;
      line-height: 22px;
      color: #414549;
      padding-bottom: 30px; }
    #contenedor #newsfeed .img-news {
      width: 100%; }
      #contenedor #newsfeed .img-news img {
        width: 100%; }
    #contenedor #newsfeed .newsletter {
      background-color: whitesmoke;
      padding: 10px;
      height: 80px; }
      #contenedor #newsfeed .newsletter p {
        padding: 0;
        font-weight: normal;
        color: #414549; }
      #contenedor #newsfeed .newsletter a {
        text-decoration: none;
        color: #4285f4; }
      #contenedor #newsfeed .newsletter .textos {
        float: left; }
      #contenedor #newsfeed .newsletter .icono {
        float: right; }
  #contenedor #articulos {
    padding: 20px 0;
    border-bottom: solid 2px #4285f4;
    margin-bottom: 40px;
    height: 1680px; }
    #contenedor #articulos h3 {
      font-weight: 400;
      font-size: 25px;
      padding: 10px 0; }
    #contenedor #articulos .imagen {
      width: 100%; }
      #contenedor #articulos .imagen img {
        width: 100%; }
    #contenedor #articulos .parrafo {
      padding: 0;
      font-weight: 300;
      font-size: 15px;
      color: #414549;
      margin-bottom: 20px; }
    #contenedor #articulos .tema2 {
      font-family: "Inconsolata", monospace;
      color: #5f6368;
      font-size: 15px;
      margin-bottom: 60px;
      display: inline-block;
      padding: 9px 0 0 5px; }
    #contenedor #articulos .icono2 {
      float: left; }
  #contenedor footer {
    height: 150px;
    font-weight: 300; }
    #contenedor footer h4 {
      font-size: 13px;
      padding: 10px 0; }
    #contenedor footer p {
      padding: 0;
      font-weight: 300;
      font-size: 13px;
      color: #414549; }
    #contenedor footer .columna-izq-foot {
      width: 65%;
      float: left; }
    #contenedor footer .columna-der-foot {
      width: 30%;
      float: right; }
    #contenedor footer .columna-der-footer {
      font-size: 13px;
      width: 30%;
      float: right;
      margin: 0 auto; }
      #contenedor footer .columna-der-footer ul li {
        list-style-type: none; }
    #contenedor footer .columna-izq-2 {
      width: 30%;
      float: left; }
    #contenedor footer .columna-der-2 {
      width: 30%;
      float: left; }

#piedepagina {
  padding: 20px 0;
  border-top: solid 2px whitesmoke;
  margin-bottom: 40px; }
  #piedepagina .columna-izq {
    width: 47%;
    float: left;
    margin-right: 20px; }
    #piedepagina .columna-izq img {
      width: 5%;
      margin-left: 60px; }
  #piedepagina .columna-der {
    width: 47%;
    float: right;
    padding: 0;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #5f6368;
    text-align: right;
    margin-right: 60px;
    margin-top: -30px; }

/*# sourceMappingURL=main.css.map */
