*{
	padding: 0;
	margin: 0;
}

#contenedor{
	width:90%;
	font-family:$tipografia;
	margin:$centrar_div;

	h2{
		@include titulo (principal);
		}
	h3{
		@include titulo (secundario);
	}

	header{
		padding: 40px 0 60px 0;
		color: $gris_gral;

		.logo{
			@include ajust_div(logo);
		}
		.search{
			@include flotar_der(search);
		}
		nav{
			@include bullet;
		}
	}

	#podcast{
		@include separador;
		
		.imagen{
			width: $screen_full;
			@include ajust_img (full);
		}
		.subtitulo{
			@include sub_title;
		}
		p{
			@include parrafos(podcast);
		}
		.tema{
			@include temas ();
		}
	}

}