*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#contenedor{
	width:90%;
	font-family:$tipografia;
	margin:$centrar_div;

	.columna-izq{
		@include columna(izquierda);
	}
	.columna-der{
		@include columna(derecha);
	}

	.tema, .fecha{
		@include temas;
	}

	h2{
		@include titulo (principal);
		}
	h3{
		@include titulo (secundario);
	}

	header{
		padding: 40px 0 60px 0;
		color: $gris_gral;

		.logo{
			@include ajust_div(logo);
		}
		.search{
			@include flotar_der(search);
		}
		nav{
			@include bullet;
		}
	}

	#podcast{
		@include separador;

		.imagen{
			width: $screen_full;
			@include ajust_img (full);
		}
		.subtitulo{
			@include sub_title;
		}
		p{
			@include parrafos(podcast);
		}
	}

	#newsfeed{
		@include separador;
		height: 750px;
		h2{
			font-size: $size_intermedio;
			text-align: left;
		}
		p{
			@include parrafos(newsfeed);
		}
		.img-news{
			width: $screen_full;
			@include ajust_img (full);
		}
		.newsletter{
			background-color: whitesmoke;
			padding: 10px;
			height: 80px;
			p{
				@include parrafos (newsletter);
			}
			a{
				@include links;
			}
			.textos{
				float: left;
			}
			.icono{
				float: right;
			}
		}
	}

	#articulos{
		@include separador;
		height: 1680px;		

		h3{
			@include titulo (articulo);
		}
		.imagen{
			width: $screen_full;
			@include ajust_img (full);
		}
		.parrafo{
			@include parrafos (articulos);
			margin-bottom: 20px;
			}
		.tema2{
			@include temas;
			display: inline-block;
			padding: 9px 0 0 5px;
		}
		.icono2{
			float: left;
		}
	}
}