@mixin bullet(){
	ul{
		text-transform: uppercase;
		font-weight: 400;
		font-size: 14px;
		text-align: $centrar_gral;
		padding: 15px 0;
		li{
			display:inline-block;
			list-style-type: none;
			padding: 0 20px;
		}
	}
}

@mixin ajust_img($full){
	@if $full == full{
		img{
			width: $screen_full;
		}
	}
}

@mixin ajust_div($clase){
	@if $clase == logo {
		width: 50%;
		text-align: $centrar_gral;
		margin: $centrar_div;
	}
}

@mixin flotar_der ($icono){
	@if $icono == search {
		position: absolute;
		right: 5%;
		top: 15%;
	}
}

@mixin titulo ($title){
	@if $title == principal {
		font-weight: $ligther;
		font-size: $size_principal;
		padding: 20px 0;
	} @else if $title == secundario {
		font-weight: $normal;
		font-size: $size_secundario;
		padding: 10px 0
	}
}

@mixin sub_title(){
	padding-bottom: 20px;
	font-weight: $bolder;
	font-size: $size_subtitle;
}

@mixin parrafos($parrafo){
	@if $parrafo == podcast{
	font-size: $size_parrafos;
	font-weight: $ligther;
	width: $screen_especial;
	line-height: $interlinea;
	color: $color_parrafos;
	padding: 10px 0;

	} @else if $parrafo == newsfeed{
		font-size: $size_parrafos;
		font-weight: $ligther;
		width: $screen_full;
		line-height: $interlinea;
		color: $color_parrafos;
		padding-bottom: 30px;

	} @else if $parrafo == newsletter{
		padding:0;
		font-weight: normal;
		color: black;
	}
}

@mixin temas (){
	font-family: $tipografia_mono;
	color: $color_fecha;
}

@mixin separador {
	padding: 20px 0;
	border-bottom: solid 2px $color_linea;
	margin-bottom: 20px;
}

@mixin columna($lado){
	@if $lado == izquierda{
		width: $screen_half;
		float: left;
		margin-right: 20px;

	} @else if $lado == derecha{
		width: $screen_half;
		float: right;
	}
}

@mixin links(){
		text-decoration: none;
		color: $color_linea;
}