$screen_full: 100%;
$screen_half: 50%;
$screen_especial: 65%;
$centrar_div: 0 auto;
$tipografia: 'Roboto', sans-serif;
$tipografia_mono: 'Inconsolata', monospace;
$centrar_gral: center;
$gris_gral:#414549;
$ligther: 300;
$normal: 400;
$bolder: 700;
$size_principal: 33px;
$size_secundario: 20px;
$size_subtitle: 18px;
$size_parrafos: 15px;
$interlinea: 22px;
$color_linea: #4285f4;
