$screen_full: 100%;
$screen_half: 47%;
$screen_especial: 65%;
$screen_especial2: 52%;
$screen_especial3: 30%;
$screen_especial4: 40%;
$centrar_div: 0 auto;
$tipografia: 'Roboto', sans-serif;
$tipografia_mono: 'Inconsolata', monospace;
$centrar_gral: center;
$gris_gral:#414549;
$ligther: 300;
$normal: 400;
$bolder: 700;
$size_principal: 33px;
$size_secundario: 20px;
$size_intermedio: 25px;
$size_subtitle: 18px;
$size_parrafos: 15px;
$size_footer: 13px;
$interlinea: 22px;
$color_linea: #4285f4;
$color_parrafos: #414549;
$color_fecha: #5f6368;
$color_grisclaro: whitesmoke;
